html {
	color: #FEFEFA;
}

a:hover {
	cursor: pointer !important; 
}

nav {
    position: relative;
}

nav::after {
    content: "";
    position: absolute;
    left: 25%;
	right: 25%;
    bottom: 0;
    width: 50%;
    border-bottom: 1px solid #FEFEFA;
	opacity: 20%;
	transition: width 0.5s ease, left 0.5s ease;
}

nav:hover::after {
	left: 1%;
	right: 1%;
	width: 98%;
}


@keyframes fadeIn {
    0% {
		opacity: 0;
		filter:blur(2px);
		transform: scale(0.98);
	}
    100% {
		opacity: 1;
		filter:blur(0px);
	}
}

.dynamic-page {
    animation: fadeIn 0.5s ease-in-out;
}

.dropdown-item {
	transition: background-color 0.2s ease;
}

.nav-item {
	transition: transform 0.3s ease;
}

.nav-item:hover {
	transform: scale(1.1);
}

.sign-out:active {
	background-color: #dc3545;
}


.smooth-hover {
	transition: filter 0.3s ease;
}

.smooth-hover:hover {
	filter: brightness(1.1);
}


.friend-link {
	position: relative; 
    color: #FEFEFA;
    text-decoration: none;
}

.friend-link::after {
    content: "";
    position: absolute;
    left: 50%;
	right: 50%;
    bottom: 0;
    width: 0%;
    border-bottom: 1px solid #FEFEFA;
	opacity: 100%;
	transition: width 0.5s ease, left 0.5s ease;
}

.friend-link:hover::after {
	left: 0%;
	right: 0%;
	width: 100%;
}

#pending-friends-list li, #friends-list li {
	height: 75px;
}

#pending-friends-list li div, #friends-list li div {
	height: 100%;
}

.friend-avatar {
	height: 100%;
	aspect-ratio: 1/1;
}
